<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<header class="navbar-fixed sidenav-opened" th:fragment="header">	
		<nav class="white">		
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="left">
					<li>
						<a href="#" data-activates="slide-out" class="waves-effect  button-collapse-hide hide-on-large-only waves-effect">
							<i class="material-icons grey-text">menu</i>
						</a>
					</li>
					
					<li>
						<a href="#" data-activates="slide-out" class="waves-effect button-collapse-minimalize hide-on-med-and-down waves-effect">
							<i class="material-icons grey-text">menu</i>
						</a>
					</li>
					
					<li>
						<div class="v-divider"></div>
					</li>
				</ul>
				
				<ul id="nav-mobile" class="right">
					<li>
						<span class="blue-grey-text user-label">ADMINISTRADOR</span>
					</li>
					<li>
						<div class="v-divider"></div>
					</li>
					<li>
						<a class="waves-effect waves-green tooltipped" data-tooltip="SAIR DO SISTEMA" data-position="left" th:href="@{/logout}">
							<i class="material-icons grey-text">close</i>
						</a>
					</li>
				</ul>	
			</div>	
		</nav>	
	</header>	
</html>