<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:cmp="http://www.advocacia.com.br"
	layout:decorate="~{layout/base}"
	th:with="currentPage='contaPagarLancamento'">
	
	<head>
		<title></title>
	</head>
		
	<body>
		<section layout:fragment="conteudo">
			<cmp:navegacao url="@{/contasPagarLancamento}" texto="Lançamentos das Despesa" />
			
			<form class="card" method="POST" th:action="@{/contasPagarLancamento}" th:object="${contaPagarLancamento}">
				<cmp:message />
					
				<input type="hidden" th:field="*{codigo}" />
					
				<cmp:titulo texto="Lançamentos das Despesas" />
					
				<div class="card-content">
					<div class="row">
						<div class="input-field col s12 m4 l4">
							<select th:field="*{contaPagarCodigo}">
								<option value="">SELECIONE A DESPESA</option>
								<option th:each="contaPagar : ${contasPagar}" th:value="${contaPagar.codigo}" th:text="|${contaPagar.codigo} - ${contaPagar.descricao}|"></option>
							</select>
							<cmp:required label="Despesa" for="contaPagar" />
						</div>
						
						<div class="input-field col s12 m4 l4">
							<input id="data" type="text" class="datepicker js-data" th:field="*{dataPagamento}" data-uk-datepicker="{format:'DD/MM/YYYY'}" />
							<cmp:required label="Data do pagamento" for="dataPagamento" />
						</div>
						
						<div class="input-field col s12 m4 l4">
							<input id="valorPago" type="text" class="js-moeda" th:field="*{valorPago}" />
							<cmp:required label="Valor pago" for="valorPago" />
						</div>
					</div>
					
					<div class="card-action right-align">
						<button type="submit" class="btn waves-effect white-text ed-button red">Confirmar Pagamento</button>
					</div>
				</div>	
			</form>	
		</section>
	</body>	
</html>